* {
    outline: 1px solid red;
}

.header {
    padding: 10px;
    border: 3px solid red;
    height: 200px;
    background-color: plum;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.header > :nth-child(1) {
    background-color: white;
    text-align: center;
    width: 180px;
    height: 180px;
}

.header > :nth-child(2) {
    background-color: white;
    text-align: center;
    width: 180px;
    height: 180px;
}

.header > :nth-child(3) {
    background-color: white;
    text-align: center;
    width: 180px;
    height: 180px;
}

.span {
    display: block;
    justify-content: center;
    flex: 1;
    margin: 10px;
}