* {
    outline: 1px solid red;
}

.header {
    padding: 10px;
    border: 3px solid red;
    height: 200px;
    background-color: plum;
    display: flex;
    justify-content: space-between;

}

.header > :nth-child(1) {
    background-color: white;
    text-align: center;
}

.header > :nth-child(2) {
    background-color: white;
    text-align: center;
}

.header > :nth-child(3) {
    background-color: white;
    text-align: center;
}

.span {
    display: block;
}