* {
    outline: 1px solid red;
}

body {
    justify-content: space-between;
    display: flex;
}

.main-content {
    padding: 10px;
    border: 3px solid red;
    height: 400px;
    width: 1110px;
    background-color: deepskyblue;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.main-content > :nth-child(1) {
    background-color: white;
    width: 350px;
    height: 350px;
}

.main-content > :nth-child(2) {
    background-color: white;
    width: 350px;
    height: 350px;
}

.sidebar {
    padding: 10px;
    border: 3px solid red;
    height: 800px;
    width: 350px;
    background-color: plum;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sidebar > :nth-child(1) {
    background-color: white;
    text-align: center;
    width: 180px;
    height: 180px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sidebar > :nth-child(2) {
    background-color: white;
    text-align: center;
    width: 180px;
    height: 180px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.sidebar > :nth-child(3) {
    background-color: white;
    text-align: center;
    width: 180px;
    height: 180px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

span {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.tzatziki {
    display: flex;
    justify-content: center;
    margin: 10px;
}