* {
    background-color: lightyellow;
    line-height: 1,5;
    outline: 1px solid red;
}
.Pantitle {
    padding-right: 20px;
    padding-left: 20px;
    margin: auto 400px 30px;
    position: relative;
    background-color: bisque;
}

ul,li {
    list-style-type: none;
}

h1,h3 {
    font-size: 50px;
    margin: 20px 350px 20px 350px;
    background-color: bisque;
}

.quickdescript {
    padding: 10px;
}

.list1 {
    display: inline-block;
    margin: 0px 5x;
    padding: 10px;
    margin-right: 50px;
    border: 2px solid blueviolet;
}

.list2 {
    display: inline-block;
    margin: 0px 5x;
    padding: 10px;
    border: 2px solid blueviolet;
}

h2 {
    padding: 10px;
}

body {
    border: 3px solid red;
    padding: 20px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.uniquelist {
    display: block;
    font-size: 25px;
    margin: 20px 50px 20px 50px;
    padding: 10px;
}

a {
    font-size: 40px;
    padding: 10px;
    background-color: lightseagreen;
}

p {
    font-size: 23px;
    margin: 20px 250px 20px 250px;
}

strong {
    color: red;
}

.instructions {
    padding: 20px;
    border-left: 40px;
    border-right: 40px;
    margin: 20px 300px 20px 300px;
    font-size: 20px;
}

em {
    text-decoration: underline;
}

.gif1 {
    position: absolute;
    right: 20px;
    height: 200px;
    width: 250px;
}

.gif2 {
    position: absolute;
    left: 20px;
    height: 200px;
    width: 250px;
}

.insgif1 {
    position: absolute;
    right: 20px;
    height: 200px;
    width: 250px;
    top: 50px;
}

.insgif2 {
    position: absolute;
    left: 20px;
    height: 200px;
    width: 250px;
    top: 50px;
}