
h1,h2,h3 {
    font-size: 40px;
    padding: 30px;
    margin-left: 370px;
    margin-right: 370px;
} 
.panizza .title1 {
    color: red;
    margin: 10px 50px 10px 50px;
    padding: 20px;
    height: 47px;
    width: 1112px;
    margin-left: 370px;
    margin-right: 370px;
    background-color: skyblue;
}
body {
    background-color: blanchedalmond;
    text-align: center;
}
.greco1 {
    height: 900px;
    width: 250px;
    position: absolute;
}
.greco2 {
    height: 900px;
    width: 250px;
    position: absolute;
    left: 1050px;
}
.img {
    width: 500px;
}
.panizza .eng {
    color: blue;
}
.Roscremona .spa {
    color: blue;
}
.links {
    font-size: 30px;
    background-color: yellowgreen;
    padding: 10px;
}
.gre1 {
    padding: 10px;
    border: 10px solid transparent;
    margin-right: 600px;
    margin-top: 10px;
    width: 200px;
    height: 800px;
}
.gre2 { 
    padding: 10px;
    border: 10px solid transparent;
    margin-left: 600px;
    width: 200px;
    height: 800px;
    margin-top: 10px;
}