* {
    text-align: center;
    box-sizing: border-box;
    outline: 3px solid red;
}
h1,h2,h3 {
    font-size: 40px;
} 
.panizza .title1 {
    color: red;
}
body {
    background-color: blanchedalmond;
    max-width: 1900px;
}
.img {
    width: 500px;
}
.panizza .eng {
    color: blue;
}
.Roscremona .spa {
    color: blue;
}
.links {
    font-size: 30px;
    background-color: yellowgreen;
}
.deco .gre1 {
    background-color: aquamarine;
    padding: 10px;
    border: 0px solid white;
    margin-right: 530px;
    width: auto;
    height: auto;
}
.deco .gre2 {
    background-color: aqua;
    padding: 10px;
    border: 0px solid white;
    margin-left: 530px;

}